<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

       <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Parayunne</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">MFA PRESENTS</h1>

          <hr class="mt-0 mb-4">
            <p>Say something that you've always wanted to say to someone....</p>

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>